* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


/* header section */
body .header {
  background: linear-gradient(45deg, rgba(29, 224, 153, 0.6), rgba(29, 200, 205, 0.6)), 
              url("img/hero-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
}
.welcome {
  position: absolute;
  top: 16%;
  left: 10%;
  right: 10%;
  text-align: center;
}
.product-screen {
  position: absolute;
  top: 48%;
  left: 7%;
  right: 7%;
}

nav {
  background: linear-gradient(45deg, #1de099, #1dc8cd);
}



/* about section */
#about hr {
  width: 60px;
  margin: 0 auto;
  height: 3px;
  background: linear-gradient(45deg, #1de099, #1dc8cd);
  border: 0;
  border-radius: 3px;
}
#about p i {
  color: #1dc8cd;
}



/* product featuress section */
#features hr {
  width: 60px;
  margin: 0 auto;
  height: 3px;
  background: linear-gradient(45deg, #1de099, #1dc8cd);
  border: 0;
  border-radius: 3px;
}
#features i {
  color: #1dc8cd;
}



/* abvance_feature section */
.abvance_feature_2 i {
  color: #1dc8cd;
}
.abvance_feature_3 p i {
  color: #1dc8cd;
}



/* call to action section */
.call_to_action {
  background: linear-gradient(45deg, rgba(29, 224, 153, 0.6), rgba(29, 200, 205, 0.6)), 
              url(img/call-to-action-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 40vh;
  position: relative;
  top: 0;
  left: 0;
}
.call_to_action button {
  position: absolute;
  top: 45%;
  left: 75%;
}


@media only screen and (max-width: 600px) {
  .call_to_action {
    background-image: url(img/call-to-action-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
    position: relative;
    top: 0;
    left: 0;
  }
  .call_to_action button {
    position: absolute;
    top: auto;
    left: 25%;
    margin-top: 20px;
  }
  .call_to_action h3,p {
    text-align: center;
  }
}



/* more features section */
#more_features hr {
  width: 60px;
  margin: 0 auto;
  height: 3px;
  background: linear-gradient(45deg, #1de099, #1dc8cd);
  border: 0;
  border-radius: 3px;
}
#more_features .icon i {
  color: #1dc8cd;
}



/* pricing section */
#pricing hr {
  width: 60px;
  margin: 0 auto;
  height: 3px;
  background: linear-gradient(45deg, #1de099, #1dc8cd);
  border: 0;
  border-radius: 3px;
}
#pricing p i {
  color: #1dc8cd;
}
#pricing p .h3, .h1 {
  color: #1dc8cd;
}
#pricing button {
  background: linear-gradient(45deg, #1de099, #1dc8cd);
}
#pricing .princing-item-2 {
  border: 2px solid #1dc8cd;
}



/* faq section */
#faq hr {
  width: 60px;
  margin: 0 auto;
  height: 3px;
  background: linear-gradient(45deg, #1de099, #1dc8cd);
  border: 0;
  border-radius: 3px;
}



/* team section */
#team hr {
  width: 60px;
  margin: 0 auto;
  height: 3px;
  background: linear-gradient(45deg, #1de099, #1dc8cd);
  border: 0;
  border-radius: 3px;
}



/* gallery section */
#gallery hr {
  width: 60px;
  margin: 0 auto;
  height: 3px;
  background: linear-gradient(45deg, #1de099, #1dc8cd);
  border: 0;
  border-radius: 3px;
}



/* contact section */
#contact h3, i {
  color: #1dc8cd;
}
#contact button {
  background: linear-gradient(45deg, #1de099, #1dc8cd);
}



/* footer section */
#footer i {
  color: #fff;
}
#footer button {
  background: linear-gradient(45deg, #1de099, #1dc8cd);
}
