/* header section */
body .header {
  background-image: url("img/hero-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
}
.welcome {
  position: absolute;
  top: 16%;
  left: 10%;
  right: 10%;
  text-align: center;
}
.product-screen {
  position: absolute;
  top: 48%;
  left: 7%;
  right: 7%;
}

/* about section */
#about hr {
  width: 60px;
  margin: 0 auto;
  height: 3px;
  background-color: rgba(7, 248, 135, 0.87);
  border: 0;
  border-radius: 3px;
}

/* product featuress section */
#features hr {
  width: 60px;
  margin: 0 auto;
  height: 3px;
  background-color: rgba(7, 248, 135, 0.87);
  border: 0;
  border-radius: 3px;
}

/* call to action section */
.call_to_action {
  background-image: url(img/call-to-action-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 40vh;
  position: relative;
  top: 0;
  left: 0;
}
.call_to_action button {
  position: absolute;
  top: 45%;
  left: 75%;
}

@media only screen and (max-width: 600px) {
  .call_to_action {
    background-image: url(img/call-to-action-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
    position: relative;
    top: 0;
    left: 0;
  }
  .call_to_action button {
    position: absolute;
    top: auto;
    left: 30%;
    margin-top: 20px;
  }
  .call_to_action h3,p {
    text-align: center;
  }
}

/* more features section */
#more_features hr {
  width: 60px;
  margin: 0 auto;
  height: 3px;
  background-color: rgba(7, 248, 135, 0.87);
  border: 0;
  border-radius: 3px;
}

/* pricing section */
#pricing hr {
  width: 60px;
  margin: 0 auto;
  height: 3px;
  background-color: rgba(7, 248, 135, 0.87);
  border: 0;
  border-radius: 3px;
}

/* faq section */
#faq hr {
  width: 60px;
  margin: 0 auto;
  height: 3px;
  background-color: rgba(7, 248, 135, 0.87);
  border: 0;
  border-radius: 3px;
}

/* team section */
#team hr {
  width: 60px;
  margin: 0 auto;
  height: 3px;
  background-color: rgba(7, 248, 135, 0.87);
  border: 0;
  border-radius: 3px;
}

/* gallery section */
#gallery hr {
  width: 60px;
  margin: 0 auto;
  height: 3px;
  background-color: rgba(7, 248, 135, 0.87);
  border: 0;
  border-radius: 3px;
}


/* footer section */
